# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# env
venv/
.venv/
env/
ENV/

# jupyter
.ipynb_checkpoints/
*.ipynb_meta

# tests
.pytest_cache/
.coverage
htmlcov/
.tox/


# vscode
.vscode/
.idea/
*.swp


# figs geradas por iteracoes
output/
*.png
*.svg
